<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>k-joseph</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>																					
		<require_module>org.openmrs.module.reporting</require_module>
		<require_module>org.openmrs.module.mohorderentrybridge</require_module>
		<require_module>org.openmrs.module.orderextension</require_module>
		<require_module>org.openmrs.module.vcttrac</require_module>
	</require_modules>
	<!-- / Required Modules -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.RwandaSPHStudyReportsActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Adds tab to patient dashboard page -->
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PatientSummaryDashboardTab</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.QuickDataEntryTab</class>
	</extension>
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class><class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.ScreeningTab</class></class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>		
		CDCReports.hbm.xml
	</mappingFiles>
	
	<globalProperty>
		<property>reports.adulthivprogramname</property>
		<defaultValue>HIV Program</defaultValue>
		<description>Name for Adult HIV program</description>
	</globalProperty>
	<globalProperty>
		<property>reports.hivonartstate</property>
		<defaultValue>ON ANTIRETROVIRALS</defaultValue>
		<description>
			The current state that signifies a patient is on ART's
		</description>
	</globalProperty>
	<globalProperty>
		<property>ClinicalencounterTypeIds.labTestIncl</property>
		<defaultValue>1,2,3,4,9</defaultValue>
		<description>
			Clinical Encounter Type to find patients who have have
			had a clinical encounter (lab test included)		</description>
	</globalProperty>
	<globalProperty>
		<property>ClinicalencounterTypeIds.labTestExcl</property>
		<defaultValue>1,2,3,4</defaultValue>
		<description>
			Clinical Encounter Type to find patients who have have
			not had a clinical encounter (lab test excluded)		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.hivpreartstate</property>
		<defaultValue>FOLLOWING</defaultValue>
		<description>
			The current state that signifies a patient is pre ART's
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.hivworkflowstatus</property>
		<defaultValue>TREATMENT STATUS</defaultValue>
		<description>
			The workflow status that is used to determine if patients
			are on ART
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.adulthivprogramname</property>
		<defaultValue>HIV PROGRAM</defaultValue>
		<description>Name for Adult HIV program</description>
	</globalProperty>
	<globalProperty>
		<property>reports.cd4Concept</property>
		<defaultValue>5497</defaultValue>
		<description>
			The concept id of the cd4 count concept
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.hivtreatmentstatus</property>
		<defaultValue>TREATMENT GROUP</defaultValue>
		<description>
			The workflow status that is used to determine the group
			of the HIV patients
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.weightConcept</property>
		<defaultValue>5089</defaultValue>
		<description>
			The concept id of the weight concept
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.heightConcept</property>
		<defaultValue>5090</defaultValue>
		<description>
			The concept id of the height concept
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.viralLoadConcept</property>
		<defaultValue>856</defaultValue>
		<description>
			The Viral Load Concept Id
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.labEncounterType</property>
		<defaultValue>9</defaultValue>
		<description>The id for the lab encounter type</description>
	</globalProperty>
	<globalProperty>
		<property>reports.accompagnatuerRelationship</property>
		<defaultValue>1</defaultValue>
		<description>The id of the Relationship that represents the
			accompagnatuer</description>
	</globalProperty>
	<globalProperty>
		<property>reports.adultflowsheetencounter</property>
		<defaultValue>24</defaultValue>
		<description>
			The Adult HIV Flowsheet encounter id that is used to
			return the io and side effects for a patient
		</description>
	</globalProperty>
	<globalProperty>
		<property>ClinicalencounterTypeIds.labTestIncl</property>
		<defaultValue>1,2,3,4,9</defaultValue>
		<description>
			Clinical Encounter Type to find patients who have have
			had a clinical encounter (lab test included)</description>
	</globalProperty>
	<globalProperty>
		<property>reports.pmtctprogramname</property>
		<defaultValue>PMTCT PROGRAM</defaultValue>
		<description>
			The program name for the pmtct program
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.pediFlowsheetEncounter</property>
		<defaultValue>26</defaultValue>
		<description>
			The id for the Pediatric Initial Encounter Type
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.adultflowsheetencounter</property>
		<defaultValue>26</defaultValue>
		<description>
			The Adult HIV Flowsheet encounter id that is used to
			return the io and side effects for a patient
		</description>
	</globalProperty>
	<globalProperty>
		<property>report.exposed_infantencounter</property>
		<defaultValue>26</defaultValue>
		<description>Exposed Infant Encounter</description>
	</globalProperty>
	<globalProperty>
		<property>reports.ctxTreatmentConcept</property>
		<defaultValue>916</defaultValue>
		<description>
			The concept id of the CTX Treatment drug concept
		</description>
	</globalProperty>
	<globalProperty>
		<property>report.nevirapine</property>
		<defaultValue>631</defaultValue>
		<description>nevirapine drug concept</description>
	</globalProperty>
	<globalProperty>
		<property>report.fplaning</property>
		<defaultValue>374</defaultValue>
		<description>family planning concept id. </description>
	</globalProperty>
	<globalProperty>
		<property>report.usingCondom</property>
		<defaultValue>190</defaultValue>
		<description>using condoms concept id. </description>
	</globalProperty>
	<globalProperty>
		<property>report.naturalfamilyplanning</property>
		<defaultValue>5277</defaultValue>
		<description>Natural Family Planning concept id. </description>
	</globalProperty>
	<globalProperty>
		<property>report.injectable</property>
		<defaultValue>5279</defaultValue>
		<description>using injectables concept id. </description>
	</globalProperty>
	<globalProperty>
		<property>report.orals</property>
		<defaultValue>780</defaultValue>
		<description>orals concept id. </description>
	</globalProperty>
	<globalProperty>
		<property>report.referedforfp</property>
		<defaultValue>6734</defaultValue>
		<description>referrer for fp concept id. </description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.maxChildAge</property>
		<defaultValue>6</defaultValue>
		<description>
			Maximum age of a child (exclusive).
			Default: 6
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.adultconceptIdsToWatch</property>
		<defaultValue>12,5497,856</defaultValue>
		<description>
			Comma delimited list of concept ids to trigger alerts for adults.
			Alerts trigger when concepts are empty or have not been updated in six months.
			Defaults: x-ray chest (12), cd4 (5497), Viral Load (856).
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.adultconceptIdsToGraph</property>
		<defaultValue>5089,5497,856</defaultValue>
		<description>
			Ordered, comma separated list of adult concept ids to graph in patient summary.
			Defaults: weight (5089), cd4 (5497), viral load(856).
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.childconceptIdsToWatch</property>
		<defaultValue>12,730,5497,5089,5090,856</defaultValue>
		<description>
			Comma delimited list of concept ids to trigger alerts for children.
			Alerts trigger when concepts are empty or have not been updated in one month.
			Defaults: x-ray chest (12), cd4 (5497), cd4% (730), weight (5089), height (5090)
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.childconceptIdsToGraph</property>
		<defaultValue>5090,5089,5497</defaultValue>
		<description>
			Ordered, comma separated list of child concept ids to graph in patient summary.
			Defaults: height (5090), weight (5089), cd4 (5497).
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.vitalSigns</property>
		<defaultValue>5089,5090</defaultValue>
		<description>
			Comma delimited list of concept ids for vital signs
			Defaults: weight (5089), height (5090)
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.adverseEffectConceptId</property>
		<defaultValue>1297</defaultValue>
		<description>
			Adverse effect concept id.
			Default: 1297.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.opportunisticInfectionConceptId</property>
		<defaultValue>1607</defaultValue>
		<description>
			Presumed or confirmed opportunistic infections
			Default: 1607.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.symptomPresentConceptId</property>
		<defaultValue>1293</defaultValue>
		<description>
			Review of symptoms on presentation concept id.
			Default: 1293.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.previousDiagnosisConceptId</property>
		<defaultValue>992</defaultValue>
		<description>
			Problem list construct concept id.
			Default: 992.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.labTestsConceptId</property>
		<defaultValue>1337</defaultValue>
		<description>
			Laboratory examinations construct concept id.
			Default: 1337.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.notesConceptIds</property>
		<defaultValue>974,1336,1364</defaultValue>
		<description>
			Comma delimited list of concept ids for notes
			Defaults: presenting history (974), physical examination (1336), clinical impression comments (1364)
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientsummary.conceptsToIgnore</property>
		<defaultValue>1107</defaultValue>
		<description>
			Comma delimited list of concepts to ignore.
			Default: 1107.
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.drugOrderType</property>
		<defaultValue>1</defaultValue>
		<description>
			The drug test order type
		</description>
	</globalProperty>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	<globalProperty>
		<property>reports.allArtDrugsConceptSet</property>
		<defaultValue>1085</defaultValue>
		<description>
			The concept id of the concept set that contains all ART
			drugs
		</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.arvConceptIdList</property>
		<defaultValue>796,797,633,628,794,635,631,625,802,2203,1613,749,795,814,5424,792,5811,630,2833</defaultValue>
		<description>
			The concept id for ON ANTIRETROVIRALS concept
		</description>
	</globalProperty>
	<globalProperty>
		<property>reports.imbIdIdentifierType</property>
		<defaultValue>TRACnet ID</defaultValue>
		<description>Identifier type that should be returned for the Primary
			Care</description>
	</globalProperty>
	<globalProperty>
		<property>reports.tracIdentifier</property>
		<defaultValue>TRACnet ID</defaultValue>
		<description>Identifier type that should be returned for the TRACnet ID</description>
	</globalProperty>
	<globalProperty>
		<property>reports.hivRapidTestConceptId</property>
		<defaultValue>2169</defaultValue>
		<description>HIV RAPID TEST#1040 Concept Id, afterwards set to:RESULT OF HIV TEST</description>
	</globalProperty>
	<globalProperty>
		<property>reports.otherQuickDataEntryConceptIds</property>
		<defaultValue></defaultValue>
		<description>Comma separated Concept ids whose observations need to be captured as part of the quick data entry form on the patient dashboard</description>
	</globalProperty>
	<globalProperty>
		<property>reports.adultStartingAge</property>
		<defaultValue>16</defaultValue>
		<description>Starting Age for an adult</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.arvDrugsConceptSetId</property>
		<defaultValue>1085</defaultValue>
		<description>
			concept id of the ARV concept set whose members are HIV ANTIRETROVIRAL DRUGS concepts
		</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.returnVisitConceptId</property>
		<defaultValue>8130</defaultValue>
		<description>RETURN VISIT DATE concept id</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.adultInitialAndReturnEncounterTypes</property>
		<defaultValue>1,2</defaultValue>
		<description>Adult initial and return encounter type id</description>
	</globalProperty>
	
	<globalProperty>
		<property>rwandasphstudyreports.adultReturnEncounterTypeId</property>
		<defaultValue>2</defaultValue>
		<description>Adult return encounter type id</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.hivPositiveConceptId</property>
		<defaultValue>703</defaultValue>
		<description>Adult Hiv positive concept id</description>
	</globalProperty>
	<globalProperty>
		<property>reports.secondaryTelephoneNumberConcept</property>
		<defaultValue>2615</defaultValue>
		<description>secondary/home telephone number concept id</description>
	</globalProperty>
	<globalProperty>
		<property>reports.telephoneNumberConcept</property>
		<defaultValue>1426</defaultValue>
		<description>Telephone number concept id</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.contactTelephoneNumberConceptId</property>
		<defaultValue>6194</defaultValue>
		<description>Contact's telephone number concept id</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.guardianTelephoneNumberConceptId</property>
		<defaultValue>6330</defaultValue>
		<description>Guardian's telephone number concept id</description>
	</globalProperty>
	<globalProperty>
		<property>reports.reasonForExitingCare</property>
		<defaultValue>1811</defaultValue>
		<description>Reason for exiting care concept id</description>
	</globalProperty>
	<globalProperty>
		<property>report.patienttransferedOut</property>
		<defaultValue>1744</defaultValue>
		<description>Transfer out as reason for exiting care concept id</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.reCreateReportsOnActivation</property>
		<defaultValue>false</defaultValue>
		<description>Set to true in development environment when interested to delete and re-setup reports on module activation</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.monthsAllowanceBackwardsForConsultationSheet</property>
		<defaultValue>8</defaultValue>
		<description>Number of months from the current date backwards for the consultation sheet</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.disableReports</property>
		<defaultValue>false</defaultValue>
		<description>when set to true disables Rwanda specific reports</description>
	</globalProperty>
	<globalProperty>
		<property>rwandasphstudyreports.arvAdherenceObservationsConceptId</property>
		<defaultValue>2681</defaultValue>
		<description>ANTIRETROVIRAL DRUG ADHERENCE OBSERVATIONS concept id</description>
	</globalProperty>
</module>

